/* this grid only makes sense 1230px+. On lower resolutions less columns needed */
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; /* TODO: check if can be improved */
    gap: 10px;
    align-items: stretch;
    justify-items: center;
}

@media (max-width: 1230px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.card-container__alert {
    border: 1px solid #30c5ff;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    grid-column: 1 / span 3;
    align-self: center;
    justify-self: stretch;
}